<div class="container">
    <img src="/public/assets/apple_newton.jpg">
    <p>Welcome one and all to The Llanes Technology Blog. Gearheads, geeks, techno-freaks and gadget watchers, you have found your spot to talk about your favorite tech!</p>
    <p>If it is a Palm Pilot, iPaq, or Nomad Jukebox, it will live on here. New tech like smartphones, smart watches and smart dogs, tell us what you think!</p>
    

</div>