<div class="container">
    <div class="row">
        <div class="col-4">
            <img src="/assets/apple_newton.jpg" width="300px">
        </div>
        <div class="col-8">
            <p>Welcome one and all to The Llanes Technology Blog. Gearheads, geeks, techno-freaks and gadget watchers, you have found your spot to talk about your favorite tech!</p>
            <p>If it is a Palm Pilot, iPaq, or Nomad Jukebox, it will live on here. New tech like smartphones, smart watches and smart dogs, tell us what you think!</p>
            <p>We are all brought together by the same love of technology, so don't be tools!</p>
        </div>
    </div>
</div>